<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <table class='formTable'>
    <tr>
      <th><%= f.label :username %></th>
      <td><%= f.text_field :username, required: true %></td>
    </tr>
    <tr>
      <th><%= f.label :email, "Email Address" %></th>
      <td><%= f.email_field :email, required: true %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, required: true %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation, "Confirm Password" %></th>
      <td><%= f.password_field :password_confirmation, required: true %></td>
    </tr>
    <tr>
      <th></th>
      <td class='action_links'>
        <%= link_to "Cancel", root_path, class: 'button' %>
        <%= f.submit user_submit_label, class: 'button' %>
      </td>
    </tr>
  </table>
<% end %>
