<% title "Log in" %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<%= form_for @user_session do |f| %>
  <%= f.error_messages %>
  <table class='formTable'>
    <tr>
      <th><%= f.label :username %></th>
      <td><%= f.text_field :username, required: true %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, required: true %></td>
    </tr>
    <tr>
      <th></th>
      <td class='action_links'><%= f.submit "Log in", class: 'button' %></td>
    </tr>
  </table>
<% end %>
